// This component is for general ajax stylings if a big ajax style is required
// currently replaced with header ajax spinner

// Ajax prettification
.ajax-loading {
	background-image: image-url('ajax-loader.gif', false, false);
	background-position: center center; 
	background-repeat: no-repeat;
}

.ajax-flag {
	display: none;
}

.ajax-loading .ajax-flag {
	display: block;
}

.ajax-flag i {
	@extend .icon;
	@extend .icon-spinner;
	@extend .icon-spin; // spins the icon
}

.ajax-posting {
	opacity: .5;
}