$icon-only-width: $base-padding * 3;
$logo-width: 104px;

.application-header {
	@include grid-row;
	background-color: $cerulean;
	@include background-image(radial-gradient(circle, $scooter, $cerulean));
	position: fixed;
	height: $application-header-fixed-height;
	top: 0;
	width: 100%;
	z-index: 1000;

	.application-header-wrapper {
		height: $application-header-fixed-height;
		margin: auto;
		max-width: $base-max-page-width;
		overflow: hidden;
		position: relative;
		white-space: nowrap;
		width: 100%;

		a, a:active, a:visited, span {
			@include ellipsis();
			@include unstyled-link;

			border-left: 1px solid rgba(255, 255, 255, 0.1);
			color: $white;
			display: block;
			float: left;
			padding: $base-padding;
			position: absolute;
		}

		.logo {
			@include text-shadow(1px 2px 2px rgba(0, 0, 0, .25));

			font-size: $logo-width;
			overflow: visible;
			text-align: center;
			width: $logo-width;
			top: -1 * $logo-width / 2;
		}

		.page-title {
			left: $logo-width;
			right: $icon-only-width;
			top: 0;
		}

		.refresh {
			right: 0;
			width: $icon-only-width;
			top: 0;

			i {
				@extend .icon;
				@extend .icon-refresh;
			}
		}
	}

	.application-header-wrapper > :last-child {
		border-right: 1px solid rgba(255, 255, 255, 0.1);
	}
}

.ajax-loading .refresh i {
	@extend .icon-spinner;
	@extend .icon-spin; // spins the icon
}