$nav-bar-background-color: $mine-shaft;
$nav-bar-color: $white;

.application-navigation {
	@include grid-row;
	background: $nav-bar-background-color;
	color: $nav-bar-color;
	margin: 0; // remove the inherited grid-row margin-bottom
	overflow: visible; // to enable dropdowns
	width: 100%;

	@include respond-to(thin-phone) {
		bottom: 0;
		height: $application-navigation-fixed-height;
		position: fixed;
	}

	@include respond-to(thin-tablet) {
		bottom: auto;
		top: $application-header-fixed-height;
	}

	> ul {
		max-width: $base-max-page-width;
		margin: auto;
		padding: 0;
	}

	ul {
		background: $nav-bar-background-color;
		list-style-type: none;
	}

	li {
		text-align: center;

		li {
			float: none;
		}
	}

	a, a:visited, a:active,
	a:hover, a:focus,
	.active > a,
	.active > a:visited {
		@include grid-column-1-of-1;
		@include respond-to(thin-phone) {
			@include grid-column-1-of-4;
		}
		// @include respond-to(thin-tablet) {
		// 	@include grid-column-1-of-6;
		// }

		@include transition(all 0.4s ease-out);
		color: $white;
		display: block;	
		font-weight: normal;
		padding: $base-padding 0; // no left/right padding to fit big words in small screens
		text-decoration: none;
		text-transform: lowercase;
	}

	.active > a, 
	a:hover, a:focus, a:active {
		@include single-text-shadow($tundora, 1px, 1px, 3px);
		background-color: $emperor;
		color: $white;
	}

	.secondary {
		@include respond-to(thin-phone) {
			float: right;
		}
	}

	i {
		@extend .icon-large;
		display: block;
	}
}

#application-navigation-task-next i {
	@extend .icon-list-ul;
}

#application-navigation-task-calendar i {
	@extend .icon-calendar;
}

#application-navigation-membership-index i {
	@extend .icon-group;
}

#application-navigation-task-create i {
	@extend .icon-plus;
}

#application-navigation-facebook-login i {
	@extend .icon-facebook;
}