$nav-bar-background-color: $mine-shaft;
$nav-bar-color: $white;

.application-navigation {
	@include clearfix;
	background: $nav-bar-background-color;
	color: $nav-bar-color;
	overflow: visible; // to enable dropdowns
	width: 100%;

	@include respond-to(thin-phone) {
		bottom: 0;
		height: $application-navigation-fixed-height;
		position: fixed;
	}

	@include respond-to(thin-tablet) {
		bottom: auto;
		top: $application-header-fixed-height;
	}

	> ul {
		@extend .content-block;
		padding: 0;
	}

	ul {
		background: $nav-bar-background-color;
		list-style-type: none;
	}

	li {
		text-align: center;

		@include respond-to(thin-phone) {
			float: left;
		}

		li {
			float: none;
		}
	}

	a {
		@include link-colors($white, $white, $white, $white, $white);
	}

	a, a:visited,
	a:hover, a:focus,
	.active > a,
	.active > a:visited,
	span  {
		display: block;	
		font-weight: normal;
		padding: $base-padding;
		text-decoration: none;
		text-transform: lowercase;
	}

	.active > a, 
	a:hover, a:focus {
		background-color: $emperor;
	}

	.secondary {
		@include respond-to(thin-phone) {
			float: right;
		}
	}

	i {
		@extend .icon-large;
		display: block;
	}
}

#application-navigation-task-index i {
	@extend .icon-list-ul;
}

#application-navigation-task-calendar i {
	@extend .icon-calendar;
}

#application-navigation-membership-index i {
	@extend .icon-group;
}

#application-navigation-task-create i {
	@extend .icon-plus;
}

#application-navigation-facebook-login i {
	@extend .icon-facebook;
}