$avatar-body-margin-left: $base-avatar-size + $base-margin;

.avatar {
	@include border-radius(4px);
	margin-right: $base-margin;
	float: left;
	height: $base-avatar-size; // match(ish) heading text height
	width: $base-avatar-size;
	overflow: hidden;

	img {
		height: 100%;
		width: 100%;
	}
}