$avatar-body-margin-left: 36px;

.avatar {
	@include border-radius(4px, 4px);
	margin-right: $base-margin;
	float: left;
	height: 20px; // match(ish) heading text height
	width: 20px;
	overflow: hidden;

	img {
		height: 100%;
		width: 100%;
	}
}