/* makes the font 33% larger relative to the icon container */
.icon-large {
	&:before {
		font-size: 1.5em;
		vertical-align: middle;
	}
}

.icon {
	display: block;
	text-decoration: inherit;

	&:before {
		font-family: FontAwesome;
		font-weight: normal;
		font-style: normal;
		text-decoration: inherit;
	}
}