
.icon {
	&:before {
		font-family: FontAwesome;
		font-weight: normal;
		font-style: normal;
	}
}

/* makes the icon large and adds a little space under it */
.icon-hero {
	@extend .icon;
	&:before {
		font-size: 23px;
		line-height: 27px; // line-height provides gap under icon
		vertical-align: middle;
	}
}