
.icon {
	&:before {
		font-family: FontAwesome;
		font-weight: normal;
		font-style: normal;
	}
}

/* makes the font 33% larger relative to the icon container */
.icon-large {
	@extend .icon;
	&:before {
		font-size: 27px;
		vertical-align: middle;
	}
}