# Yii files
assets/*
protected/runtime/*
protected/tests/report/*

# Local config files
protected/config/console.local.php
protected/config/web.local.php

# SASS
.sass-cache
themes/gecko5/css/*.css
themes/basilisk/stylesheets/*.css