Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php

# Set Yii application environment
SetEnv APPLICATION_ENV "test"
SetEnv YII_INCLUDE_PATH "../yii_framework/yii.php"