/**
 * Max readability = 32 em
 * Max readability @ 16 px = 512 px ~ 9 col  = 520 px 
 * Max readability @ 18 px = 576 px ~ 10 col = 580 px 
**/

/*
	General settings
*/
html, body {
	background-color: #333436;
	color: #ffffff;
	font-family: sans-serif;
	font-style: normal;
	height: 100%;
}

a, a:active, a:visited {
	color: #ffffff;
}

a:hover, a:focus {
	color: #00b6d5;
	text-decoration: underline;
}

input, textarea, select {
	border: 1px solid #bfbfbf;
	border-radius: 2px;
	-khtml-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box; /* Border box ensures that inputs fill containers without border overlap */
	font: inherit; /* Match overall font settings */
	font-size: 1.5em;
	padding: .25em;
	width: 100%;
}

strong {
	font-weight: bold;	
}

em {
	font-style: italic;
}

/* Selection colours */

::-moz-selection,
::selection {
	background: #92ccd6;
}

img::-moz-selection,
img::selection {
	background: transparent;
}

body {
	-webkit-tap-highlight-color: #92ccd6;
	tap-highlight-color: #92ccd6;
}

/* Header stylings */

h1, h2, h3,
h4, h5, h6 {
	max-width: 32em;
}

h1 {
	font-size: 1.25em;
}

h2 {
	font-size: 1.2em;
}

h3 {
	font-size: 1.1em;
}

p {
	margin: .5em 0; /* Readability spacing */
	max-width: 32em;
}

time {
	white-space: nowrap; /* Prevents hard-to-read multiline dates */
}

/*
	Global wrappers
*/
.everything {
	height: auto;
}

.global-footer {
    clear: both;  /* Ensure footer isn't floating around anywhere */
    padding: 2em 1em;
}

nav {
	clear: both;
}

nav ul {
	list-style-type: none;
}

nav li {
	white-space: nowrap; /* Don't want overflowing links */
	display: inline-block; /* List horizontally, not vertically */
}

nav li a,
nav li a:visited {
	color: #ffffff;
	display: block;	
	padding: .5em;
	text-transform: lowercase;
}

nav li a:hover,
nav li a:focus,
.active a {
	background-color: #00b6d5;
	color: #ffffff;
	text-decoration: none;
}

/* Content styles */

section {
	clear: both;
	padding-bottom: 16px;
}

section > h1 {
	background-color: #333436; /* Match background */
	color: #ffffff;
	margin: 0 -16px; /* Negative margin to reach edges */
	max-width: none; /* Override readability for edge to edge */
	padding: 16px;
}

.content {
	background-color: #ffffff;
	color: #232425;
	padding: 0 16px 16px;
	position: relative;
}

.content > header {
	padding: 16px 0;
}

.content > header h1 {
	font-size: 1.5em;
}

.content a, 
.content a:visited, 
.content a:active {
	color: #808080;
}

.content a:hover,
.content a:focus {
	color: #00B6D5;	
}

.menu {
	position: absolute;
}

.menu li {
	display: inline-block;
	list-style-type: none;
	white-space: nowrap;
}

.menu li a {
	/* Background settings made to be generic for all menus with icons */
	background-repeat: no-repeat; 
	background-position: top center;
	display: block; /* So it fills area and icon is clickable */
	font-family: Verdana, sans-serif; /* Verdana is better at small sizes */
	font-size: .6em; /* Should fit in width */
	padding-top: 32px; /* Room above for icon */
	text-align: center;
	width: 50px; /* Should be at least 44px for touch screens */
}

/* Content toolbox */

.toolbox {
	margin-bottom: 1em; /* Extra spacing below */
	position: static; /* By default, under the text as toolboxes have more icons than standard menus */
	/* to match content padding */
	right: 16px;
	top: 16px;
}

/*
	Content flashes and errors
*/ 
.flash-error, 
.flash-notice, 
.flash-success {
	padding: 16px;
	margin-bottom: 8px;
}

.flash-error {
	background-color: #E82C0C;
	color: #ffffff;
}

.flash-notice {
	background-color: #FFF6BF;
	color: #514721;
}

.flash-success {
	background-color: #E6EFC2;
	color: #264409;
}

.flash-error a {
	color: #8a1f11;
}

.flash-notice a {
	color: #7f7b5f;
}

.flash-success a {
	color: #264409;
}

/*
	Content lists
*/
.detail-view dt,
.list-view dt {
	display: inline-block;
}

.detail-view dt {
	font-size: .75em;
	margin-top: 1em;
	margin-right: 1em;
	text-transform: lowercase;
}

.detail-view dd,
.list-view dd {
	display: inline-block;
	margin-right: 1em;
}

/*
	Content forms
*/
form {
	clear: both;
	max-width: 32em; /* Readability */
}

form .errorSummary {
	background-color: #E82C0C;
	color: #ffffff;
	padding: 16px;
}

form .errorSummary ul {
	margin-left: 1em; /* Life indentation */
}

form .errorMessage {
	color: #E82C0C;
	font-size: .6em;
}

input[type="submit"], 
input[type="button"] {
	background-color: #00b6d5;
	background-image: -moz-linear-gradient(top, #00b6d5, #00ADCC);
	background-image: -ms-linear-gradient(top, #00b6d5, #00ADCC);
	background-image: -o-linear-gradient(top, #00b6d5, #00ADCC);
	background-image: -webkit-linear-gradient(top, #00b6d5, #00ADCC);
	background-image: linear-gradient(top, #00b6d5, #00ADCC);
	border: none;
	color: #ffffff;
	cursor: pointer; /* Finger cursor */
	display: inline-block;
	font-size: .8em;
	font-weight: bold;
	padding: 1.25em; /* General padding size */
	margin-bottom: 1em;
	text-align: left;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	text-transform: lowercase;
	white-space: nowrap; /* Don't break sentence */
	/* Avoid gradient defaults in some browsers */
	-moz-appearance: none; 
	-webkit-appearance: none;
}

input[type="submit"]:hover,
input[type="submit"]:focus, 
input[type="button"]:hover,
input[type="button"]:focus {
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
	color: #ffffff;
}

input[type="submit"]:active,
input[type="button"]:active {
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5);
}

/* Overrides for disabled buttons */
.disabled,
input[type="submit"]:disabled, 
input[type="submit"][disabled="disabled"],
input[type="button"]:disabled {
	opacity: .25; /* Blarg, cheap, color better */
	cursor: default;
}

.disabled:hover,
input[type="submit"]:disabled:hover,
input[type="submit"][disabled="disabled"],
input[type="button"]:disabled:hover {
	opacity: .25; /* Blarg, cheap, color better */
}

/* More about forms */
.field {
	clear: both;
	padding: 4px 0;
}

label {
	cursor: text; /* To help user realize it's clickable */
	font-size: .75em;
	text-transform: lowercase;
}

label:not(.required) {
	color: #8A8581;	
}

textarea  {
	height: 3em;
}

/* Content tables */
table {
	table-layout: fixed;
}

tr {
	vertical-align: middle;
}

th, 
td {
	border: 1px solid #333436;
}

th {
	font-size: .5em;
	font-weight: bold;
	padding: 1em 1.5em; /* 1.5em to match standard padding */
	text-align: center;
}

/* Content pagination */
.pager {
	border: none;
	clear: both;
	line-height: 100%;
	padding: 16px 0;
}

.pager ul,
.pager li {
	display: inline-block; /* Display horizontally */
}

.pager a:link,
.pager a:visited {
	padding: 1px 6px;
	text-decoration: none;
}

.pager .selected a {
	background-color: #00b6d5;
	color: #ffffff;
}

 .pager .hidden a,
.yiiPager .first,
.yiiPager .last {
	/* Hide first, last, and inactive buttons by default */
	display: none;
}

/* 
	Site styles
*/

/*
	Main page styles
*/
.site-index .content header {
	background-color: #ECECEC;
	background-image: url(../images/poncla-splash-320x270.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	height: 270px;
	margin: 0 -16px;
}

.site-index .content h1 {
	display: none;	
}

#contact-form {
	margin: 1em auto;	
}

/* Task form inputs */

input[name="Task[startDate]"],
input[name="Task[endDate]"] {
	margin-right: 2%; /* spacing between date and time */
	width: 48%; /* 48 + 2 = 50 */
}

select[name="Task[startTime]"],
select[name="Task[endTime]"]  {
	width: 50%;
}

/* Special settings for displaying inline */
.new-task {
	max-width: none;
}

.new-task label {
	display: none;
}

/* Yii widgets */

.list-view .summary {
	display: none;
}

.no-results-message {
	margin-left: auto;
	margin-right: auto;
}

/* Story stylings */
.story {
	border-bottom: 1px solid #ECECEC;
	clear: both;
	margin: 0 -16px; /* Negative margin for edge to edge right and left */
	padding: 1em 116px 1em 1em; /* Increase right margin to account for menu */
	position: relative; /* Set position so menu can be absolute */
}

.story h1 {
	font-size: 1.1em;
}

.story h2 {
	font-size: .9em;
}

.story h1 time {
	font-weight: bold;
}

.story .menu {
	right: 16px;
	top: 50%; /* to help align menu vertically */
	margin-top: -22px; /* half of menu size for vertical alignment */
}

/* Completed story stylings */ 

.completed h1 a,
.completed h1 a:visited, 
.completed h1 a:active {
	color: #bfbfbf;
}

.completed h1 a:hover, 
.completed h1 a:focus {
	color: #00b6d5;
}

.completed p {
	color: #6B6E71;
}

/* Trashed story stylings */

.trash h1 a {
	text-decoration: line-through;
}

/* Participating user listing  */

.users {
	clear: both;	
}

.users li {
	display: inline-block;
	margin-right: 1em;
}

/* Task menu and buttons */

.task-update-menu-item {
	background-image: url(../images/icons/pencil-32x32.png);	
}

.task-update-menu-item:hover,
.task-update-menu-item:focus {
	background-image: url(../images/icons/blue-pencil-32x32.png);	
}

.task-useruncomplete-menu-item,
.task-usercomplete-menu-item:hover,
.task-usercomplete-menu-item:focus {
	background-image: url(../images/icons/check-blue-32x32.png);	
}

.task-usercomplete-menu-item,
.task-useruncomplete-menu-item:hover,
.task-useruncomplete-menu-item:focus {
	background-image: url(../images/icons/check-gray-32x32.png);	
}

.task-unparticipate-menu-item,
.task-participate-menu-item:hover,
.task-participate-menu-item:focus {
	background-image: url(../images/icons/man-blue-32x32.png);	
}

.task-participate-menu-item,
.task-unparticipate-menu-item:hover,
.task-unparticipate-menu-item:focus {
	background-image: url(../images/icons/man-gray-32x32.png);	
}

.task-untrash-menu-item,
.task-trash-menu-item:hover,
.task-trash-menu-item:focus {
	background-image: url(../images/icons/trash-with-arrow-32x32.png);
}

.task-trash-menu-item,
.task-untrash-menu-item:hover,
.task-untrash-menu-item:focus {
	background-image: url(../images/icons/trash-can-32x32.png);
}

/* Task Calendar */

.calendar {
	margin-bottom: 1em;
	width: 100%;
}

.calendar td, 
.calendar th {
	width: 5%; /* Ensures minimum */
	border: none;
	text-align: right;
}

.calendar a {
	border-radius: 3px;
	display: block; /* fill tabel cell */
	padding: .5em;
	margin: .25em;
}

.has-tasks a,
.has-tasks a:active,
.has-tasks a:visited {
	background-color: #808080;
	color: white;
	text-decoration: none;
}

.has-tasks a:hover,
.has-tasks a:focus {
	background-color: #00B6D5;
	color: white;
}

/* Feed */
.feed-model-attribute {
	text-transform: lowercase;
}


/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
}


/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) {
	
	.site-index .content header {
		background-image: url(../images/poncla-splash-480x380.jpg);
		height: 380px;
	}
}


/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) {

	.site-index .content header {
		background-image: url(../images/poncla-splash-1600x380.jpg);
		height: 380px;
	}

	.content > header {
		margin-right: 282px;
	}	
	
	.toolbox {
		position: absolute;
	}
	
}