/**
 * Max readability = 32 em
 * Max readability @ 16 px = 512 px ~ 9 col  = 520 px 
 * Max readability @ 18 px = 576 px ~ 10 col = 580 px 
**/

/*
	General settings
*/
html {
	color: #232425;
	font-family: sans-serif;
	font-style: normal;
	height: 100%;
}

body
{
	background-color: #ececec;
	background-image: url(../images/background.jpg);
	height: 100%;
}

a, a:hover, a:visited, a:active, a:focus
{
	color: #808080;
	font-weight: bold;
}

a:hover, a:focus {
	border-bottom: 1px solid #00b6d5;
	color: #00b6d5;
}

input, textarea, select {
	border: none; 
	font-size: 1em;
	font-family: 'Segoe UI', Candara, 'Bitstream Vera Sans', 'DejaVu Sans', 'Trebuchet MS', Verdana; 
}

strong 
{
	font-weight: bold;	
}

em {
	font-style: italic;
}

/* Selection colours (easy to forget) */

::selection 	 	{background: #92ccd6;}
::-moz-selection 	{background: #92ccd6;}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
body {-webkit-tap-highlight-color: #92ccd6;}

/*
	Global wrappers
*/
body > header, 
#content,
body > footer
{
	padding-left: 2.5%;
	padding-right: 2.5%;
}

body > header 
{
	overflow: hidden;
}

#content
{
	min-height: 100%;
}

body > footer {
	background-color: #232425;
	border-left: 1em solid #ff6600;
	clear: both;
	color: white;
	height: 5em;
	padding: 2em 1em;
}

/* 
	Main layout styles
*/
#primaryNavigation, 
#secondaryNavigation,
#tertiaryNavigation
{
	clear: both;
	overflow: hidden;
}

#primaryNavigation ul, 
#secondaryNavigation ul,
#tertiaryNavigation ul,
body > footer > nav ul
{
	list-style-type: none;
	margin: 0px auto;
	padding: 0px;
}

#primaryNavigation li,
#secondaryNavigation li,
#tertiaryNavigation li,
body > footer > nav li

{
	white-space: nowrap;
}

#primaryNavigation li a, 
#primaryNavigation li a:visited,
#secondaryNavigation li a, 
#secondaryNavigation li a:visited, 
#tertiaryNavigation li a, 
#tertiaryNavigation li a:visited,
body > footer > nav li a,
body > footer > nav li
{
	border: none;	
	float: left;
	padding: .5em;
	margin-right: .25em;
	text-decoration: none;
	text-transform: lowercase;
}

#primaryNavigation li a:hover, 
#secondaryNavigation li a:hover, 
#tertiaryNavigation li a:hover,
#primaryNavigation li a:focus, 
#secondaryNavigation li a:focus, 
#tertiaryNavigation li a:focus,
#primaryNavigation li.active a,
#secondaryNavigation li.active a,
#tertiaryNavigation li.active a,
body > footer > nav li a:hover,
body > footer > nav li a:focus
{
	background-color: #00b6d5;
	color: #ffffff;
}

/*
	Content styles
*/
h1,
h2,
h3, 
h4,
h5,
h6 
{
	clear: both;
	width: 100%;
	margin-bottom: .5em;
}

h1 
{
	font-size: 3em;
	max-width: 32em;
}

article h1 
{
	font-size: 1.5em;
	max-width: 32em;
}

article h2
{
	font-size: .8em;
	max-width: 32em;
}

article h3 
{
	font-size: .5em;
	max-width: 32em;
}

p
{
	font-weight: normal;
	margin-bottom: .5em;
	max-width: 32em;
}

article > header
{
	float: left;
	margin-right: 2em;
	max-width: 32em;
}

article > menu
{
	float: right;
}

article menu li
{
	float: left;
	list-style-type: none;
	margin: 0px 1em 0px 0px;
	padding: 0px;
}

.participants {
	clear: both;	
}

/*
	Content flashes and errors
*/ 
aside.flash-error, 
aside.flash-notice, 
aside.flash-success
{
	padding: 10px;
}

aside.flash-error
{
	background-color: #E82C0C;
	color: #ffffff;
}

aside.flash-notice
{
	background-color: #FFF6BF;
	color: #514721;
}

aside.flash-success
{
	background-color: #E6EFC2;
	color: #264409;
}

aside.flash-error a
{
	color: #8a1f11;
}

aside.flash-notice a
{
	color: #7f7b5f;
}

aside.flash-success a
{
	color: #264409;
}

/*
	Content lists
*/
section
{
	margin-bottom: 1em;
	overflow: hidden;
}

article
{
	background-color: #ffffff;
	border-radius: 2em;
	clear: both;
	margin-bottom: 1em;
	overflow: hidden;
	padding: 1.25em;
}

article:last-child
{
	border-bottom: none;
}

article > footer
{
	font-size: .8em;	
}

article > footer li
{
	float: left;
	margin-right: .5em;
}

.detail-view dl,
.list-view dl
{
	overflow: hidden;
}

.detail-view dt,
.list-view dt
{
	clear: both;
	float: left;
	margin: auto;
	width: 100%;
}

.detail-view dt {
	border-top: 1px dotted #d9d4cc;
	color: #8A8581;
	font-size: .75em;
	margin-top: 1em;
	text-transform: uppercase;
	width: 100%;
}

.detail-view dd,
.list-view dd
{
	float: left;
	margin-right: 1em;
}

/*
	Content forms
*/
form
{
	background-color: transparent;
	clear: both;
	overflow: hidden;
	max-width: 32em;
	margin-bottom: 1em;
}

form .errorSummary {
	background-color: #E82C0C;
	color: #ffffff;
	padding: 10px;
}

form .errorSummary p {
	margin: 0px;
}

form .errorSummary ul {
	margin-left: 15px;
}

form .errorMessage {
	color: #E82C0C;
	font-size: .75em;
}

form input[type="submit"], 
form input[type="button"] {
	background-color: transparent;
	color: #00b6d5;
	cursor: pointer;
	font-weight: bold;
	float: left;
	padding: .5em;
	text-shadow: none;
	text-transform: lowercase;
	white-space: nowrap;
}

form input[type="submit"]:hover,
form input[type="submit"]:focus, 
form input[type="button"]:hover,
form input[type="button"]:focus {
	background-color: #00b6d5;
	color: #ffffff;
}

/* Overrides for disabled buttons */
form input[type="submit"].disabled ,
form input[type="submit"]:disabled, 
form input[type="submit"][disabled="disabled"],
form input[type="button"]:disabled {
	background-color: transparent;
	color: #232425;
	cursor: default;
}

form input[type="submit"].disabled:hover,
form input[type="submit"]:disabled:hover,
form input[type="submit"][disabled="disabled"],
form input[type="button"]:disabled:hover {
	background-color: transparent;
}

/* form rows */
form .row
{
	clear: both;
	overflow: hidden;
	padding: .25em .5em;
}

form .row.buttons
{
}

form .row label
{
	color: #8A8581;
	cursor: text;
	font-size: .75em;
	text-transform: lowercase;
	width: 100%;
}

form .row label.required
{
	color: #232425;
}

form .row input, 
form .row textarea, 
form .row select 
{
	width: 100%;
}

form .row textarea  {
	height: 3em;
}

form .row input[type="submit"], 
form .row input[type="button"] {
	text-align: left;
}

form .row input[type="submit"]:hover, 
form .row input[type="button"]:hover {
	background-color: #00b6d5;
}

form .row input[type="submit"].disabled,
form .row input[type="submit"].disabled:hover,
form .row input[type="submit"]:disabled, 
form .row input[type="submit"]:disabled:hover,
form .row input[type="submit"][disabled="disabled"],
form .row input[type="submit"][disabled="disabled"]:hover,
form .row input[type="button"]:disabled,
form .row input[type="button"]:disabled:hover {
	border: 3px solid #232425;
}

/*
	Content tables
*/
table {
	table-layout: fixed;
	width: 100%;
}

tr {
	vertical-align: text-top;
}

th, 
td
{
	border: 1px solid #d9d4cc;
}

th 
{
	background-color: #d9d4cc;
	font-weight: bold;
	text-align: center;
}

/*
	Content pagination
*/
ul.yiiPager
{
	border: 0;
	margin: 0;
	padding: 0;
	line-height: 100%;
	display: inline;
}

ul.yiiPager li
{
	display: inline;
}

ul.yiiPager a:link,
ul.yiiPager a:visited
{
	font-weight: bold;
	padding: 1px 6px;
	text-decoration: none;
}

ul.yiiPager .selected a
{
	background-color: #00b6d5;
	color: #ffffff;
	font-weight: bold;
}

ul.yiiPager .hidden a
{
	color: #d9d4cc;
}

/**
 * Hide first and last buttons by default.
 */
ul.yiiPager .first,
ul.yiiPager .last
{
	display: none;
}

/* 
	Site styles
*/

/*
	Site: login styles
*/
#login-form .rememberMe label
{
}

#login-form #UserLoginForm_rememberMe
{
	width: 15px;
}

#login-form .buttons
{
	margin-top: 10px;
}

/*
	Event styles
*/
.event
{
	margin-bottom: 10px;
}

.event .eventname
{
	font-weight: bold;
	margin-bottom: 10px;
}

.event .eventdate
{
	margin-bottom: 15px;
}

input#Event_startDate,
input#Event_endDate,
input#Task_startDate,
input#Task_endDate{
	width: 65%;
}

select#Event_startTime,
select#Event_endTime,
select#Task_startTime,
select#Task_endTime {
	width: 35%;
}

/* task form inputs */
form#task-form.new-task {
	max-width: none;
}

form#task-form.new-task input[type="text"] {
	font-size: 2em;
}

/*
	Task stylings
*/
.task.completed h1 a {
	color: #bfbfbf;
}
.task.completed h1 a:hover, 
.task.completed h1 a:focus {
	border-bottom: 1px solid #00b6d5;
	color: #00b6d5;
}

.task.trash h1 a {
	text-decoration: line-through;
}

.participant.completed a {
	color: #bfbfbf;
}

.participant.completed a:hover, 
.participant.completed a:focus {
	border-bottom: 1px solid #00b6d5;
	color: #00b6d5;
}

.task menu a 
{
	display: block;
	height: 32px;
	width: 32px;
	text-indent: -9999px;
}

.task-update-menu-item {
	background-image: url(../images/icons/pencil-32x32.png);	
}

.task-useruncomplete-menu-item {
	background-image: url(../images/icons/check-blue-32x32.png);	
}

.task-usercomplete-menu-item {
	background-image: url(../images/icons/check-gray-32x32.png);	
}

.task-unparticipate-menu-item {
	background-image: url(../images/icons/man-blue-32x32.png);	
}

.task-participate-menu-item {
	background-image: url(../images/icons/man-gray-32x32.png);	
}

.task-untrash-menu-item {
	background-image: url(../images/icons/trash-with-arrow-32x32.png);
}

.task-trash-menu-item {
	background-image: url(../images/icons/trash-can-32x32.png);
}

/*
	Home page styling
*/
.site.index {
}

/*
	Calendar styles
*/
.event.calendar th,
.event.calendar td {
	overflow: hidden;
	padding: .1em;
	white-space: nowrap;
	width: 13%;
}

.event.calendar .daytitle {
	background-color: #d9d4cc;
	text-align: center;
	white-space: nowrap;
}

.event.calendar .day {
	height: 6em; /* em allows for number of events rather than fixed */
	white-space: nowrap;
}

.event.calendar .day.notThisMonth {
	opacity: .5;
}

.event.calendar .day dt {
}

.event.calendar .day a {
	white-space: nowrap;
}

/*
	Group styles
*/