/**
 * Max readability = 32 em
 * Max readability @ 16 px = 512 px ~ 9 col  = 520 px 
 * Max readability @ 18 px = 576 px ~ 10 col = 580 px 
**/

/*
	General settings
*/
html {
	color: #232425;
	font-family: sans-serif;
	font-style: normal;
	height: 100%;
}

body
{
	background-color: #ececec;
	background-image: url(../images/background.jpg);
	height: 100%;
}

a, a:hover, a:visited, a:active, a:focus
{
	color: #808080;
	font-weight: bold;
}

a:hover, a:focus {
	border-bottom: 1px solid #00b6d5;
	color: #00b6d5;
	margin-bottom: -1px;
}

input, textarea, select {
	border: 1px solid #bfbfbf; 
	font-size: 1em;
	font-family: sans-serif;
	margin: -1px; 
}

input[type="submit"] {
	border: none;
	margin: 0px;	
}

strong 
{
	font-weight: bold;	
}

em {
	font-style: italic;
}

/* Selection colours */

::selection 	 	{background: #92ccd6;}
::-moz-selection 	{background: #92ccd6;}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
body {-webkit-tap-highlight-color: #92ccd6;}


h1,
h2,
h3, 
h4,
h5,
h6 
{
	clear: both;
	width: 100%;
	margin-bottom: .5em;
}

h1 
{
	font-size: 1.5em;
	max-width: 32em;
}

h2
{
	font-size: .8em;
	max-width: 32em;
}

h3 
{
	font-size: .5em;
	max-width: 32em;
}

p
{
	font-weight: normal;
	margin-bottom: .5em;
	max-width: 32em;
}

/*
	Global wrappers
*/
body > *
{
	padding-left: 2.5%;
	padding-right: 2.5%;
}

body > header 
{
	overflow: hidden;
}

body > header h1 
{
	font-size: 3em;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, .25);
}

#content
{
	min-height: 100%;
}

body > footer {
	background-color: #232425;
	border-left: 1em solid #ff6600;
	clear: both;
	color: white;
	height: 5em;
	padding: 2em 1em;
}

nav
{
	clear: both;
	overflow: hidden;
}

nav ul
{
	list-style-type: none;
	margin: 0px auto;
	padding: 0px;
}

nav li

{
	white-space: nowrap;
}

nav li a,
nav li a:visited
{
	border: none;	
	float: left;
	padding: .5em;
	text-decoration: none;
	text-transform: lowercase;
}

nav li a:hover,
nav li a:focus,
nav li.active a
{
	background-color: #00b6d5;
	color: #ffffff;
}

/*
	Content styles 
*/
article > header
{
}

article > menu
{
	bottom: 0;
	margin: 1.25em 0;
	position: absolute;
}

article menu li
{
	float: left;
	font-size: .6em;
	list-style-type: none;
	margin: 0px 1em 0px 0px;
	padding: 0px;
	white-space: nowrap;
}

article menu li a 
{
	background-repeat: no-repeat;
	border: none;
	display: block;
	height: 18px;
	padding-left: 18px;
	padding-top: 3px;
}

/*
	Content flashes and errors
*/ 
aside.flash-error, 
aside.flash-notice, 
aside.flash-success
{
	padding: 10px;
}

aside.flash-error
{
	background-color: #E82C0C;
	color: #ffffff;
}

aside.flash-notice
{
	background-color: #FFF6BF;
	color: #514721;
}

aside.flash-success
{
	background-color: #E6EFC2;
	color: #264409;
}

aside.flash-error a
{
	color: #8a1f11;
}

aside.flash-notice a
{
	color: #7f7b5f;
}

aside.flash-success a
{
	color: #264409;
}

/*
	Content lists
*/
section
{
	margin-bottom: 1em;
	overflow: hidden;
}

article
{
	background-color: #ffffff;
	border-radius: 2em;
	margin: 2em 1em;
	min-height: 5em;
	max-width: 32em;
	min-width: 20em;
	padding: 1.25em;
	position: relative;
}

article:last-child
{
}

.detail-view dl,
.list-view dl
{
	overflow: hidden;
}

.detail-view dt,
.list-view dt
{
	clear: both;
	float: left;
	margin: auto;
	width: 100%;
}

.detail-view dt {
	border-top: 1px dotted #d9d4cc;
	color: #8A8581;
	font-size: .75em;
	margin-top: 1em;
	text-transform: uppercase;
	width: 100%;
}

.detail-view dd,
.list-view dd
{
	float: left;
	margin-right: 1em;
}

/*
	Content forms
*/
form
{
	background-color: transparent;
	clear: both;
	overflow: hidden;
	max-width: 32em;
	margin-bottom: 1em;
}

form .errorSummary {
	background-color: #E82C0C;
	color: #ffffff;
	padding: 10px;
}

form .errorSummary p {
	margin: 0px;
}

form .errorSummary ul {
	margin-left: 15px;
}

form .errorMessage {
	color: #E82C0C;
	font-size: .75em;
}

form input[type="submit"], 
form input[type="button"] {
	background-color: transparent;
	color: #00b6d5;
	cursor: pointer;
	font-weight: bold;
	float: left;
	padding: .5em;
	text-shadow: none;
	text-transform: lowercase;
	white-space: nowrap;
}

form input[type="submit"]:hover,
form input[type="submit"]:focus, 
form input[type="button"]:hover,
form input[type="button"]:focus {
	background-color: #00b6d5;
	color: #ffffff;
}

/* Overrides for disabled buttons */
form input[type="submit"].disabled ,
form input[type="submit"]:disabled, 
form input[type="submit"][disabled="disabled"],
form input[type="button"]:disabled {
	background-color: transparent;
	color: #232425;
	cursor: default;
}

form input[type="submit"].disabled:hover,
form input[type="submit"]:disabled:hover,
form input[type="submit"][disabled="disabled"],
form input[type="button"]:disabled:hover {
	background-color: transparent;
}

/* form rows */
form .row
{
	clear: both;
	overflow: hidden;
	padding: .25em .5em;
}

form .row.buttons
{
}

form .row label
{
	color: #8A8581;
	cursor: text;
	font-size: .75em;
	text-transform: lowercase;
	width: 100%;
}

form .row label.required
{
	color: #232425;
}

form .row input, 
form .row textarea, 
form .row select 
{
	width: 100%;
}

form .row textarea  {
	height: 3em;
}

form .row input[type="submit"], 
form .row input[type="button"] {
	text-align: left;
}

form .row input[type="submit"]:hover, 
form .row input[type="button"]:hover {
	background-color: #00b6d5;
}

form .row input[type="submit"].disabled,
form .row input[type="submit"].disabled:hover,
form .row input[type="submit"]:disabled, 
form .row input[type="submit"]:disabled:hover,
form .row input[type="submit"][disabled="disabled"],
form .row input[type="submit"][disabled="disabled"]:hover,
form .row input[type="button"]:disabled,
form .row input[type="button"]:disabled:hover {
	border: 3px solid #232425;
}

/*
	Content tables
*/
table {
	table-layout: fixed;
	width: 100%;
}

tr {
	vertical-align: text-top;
}

th, 
td
{
	border: 1px solid #d9d4cc;
}

th 
{
	background-color: #d9d4cc;
	font-weight: bold;
	text-align: center;
}

/*
	Content pagination
*/
.pager {
	clear: both;
}

ul.yiiPager
{
	border: 0;
	margin: 0;
	padding: 0;
	line-height: 100%;
	display: inline;
}

ul.yiiPager li
{
	display: inline;
}

ul.yiiPager a:link,
ul.yiiPager a:visited
{
	font-weight: bold;
	padding: 1px 6px;
	text-decoration: none;
}

ul.yiiPager .selected a
{
	background-color: #00b6d5;
	color: #ffffff;
	font-weight: bold;
}

ul.yiiPager .hidden a
{
	color: #d9d4cc;
}

/**
 * Hide first and last buttons by default.
 */
ul.yiiPager .first,
ul.yiiPager .last
{
	display: none;
}

/* 
	Site styles
*/

/*
	Main page styles
*/
#site-index header {
	background-image: url(../images/poncla-splash-1600x380.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	height: 380px;
}

#site-index h1 {
	display: none;
}

/*
	Site: login styles
*/
#login-form .rememberMe label
{
}

#login-form #UserLoginForm_rememberMe
{
	width: 15px;
}

#login-form .buttons
{
	margin-top: 10px;
}

/*
	Event styles
*/
.event
{
	margin-bottom: 10px;
}

.event .eventname
{
	font-weight: bold;
	margin-bottom: 10px;
}

.event .eventdate
{
	margin-bottom: 15px;
}

input#Event_startDate,
input#Event_endDate,
input#Task_startDate,
input#Task_endDate{
	width: 63%;
}

select#Event_startTime,
select#Event_endTime,
select#Task_startTime,
select#Task_endTime {
	float: right;
	width: 35%;
}

/* task form inputs */
form#task-form.new-task {
	max-width: none;
}

form#task-form.new-task input[type="text"] {
	font-size: 2em;
}

/*
	Task stylings
*/
article.task {
	border-top-left-radius: 0em 0em;
	padding-bottom: 4em;
}

article.task.starts {
}

article.task.ends {
	border-bottom-right-radius: 0em 0em;
}

.task time.starts,
.task time.ends {
	position: absolute;
	background: white;
	padding: .5em;
	white-space: nowrap;
	z-index: 1;	
}

.task time.starts {
	top: -.75em;
	left: 0em;
	border-radius: 1em 1em 1em 0;
}

.task time.ends {
	right: 0;
	bottom: -.75em;
	border-radius: 1em 0 1em 1em;
}

.task.completed h1 a {
	color: #bfbfbf;
}
.task.completed h1 a:hover, 
.task.completed h1 a:focus {
	border-bottom: 1px solid #00b6d5;
	color: #00b6d5;
}

.task.trash h1 a {
	text-decoration: line-through;
}

/* participating user listing  */
.participants {
	clear: both;	
}

.participants li {
	float: left;
	margin-right: 1em;
}

.participant.completed a {
	color: #bfbfbf;
}

.participant.completed a:hover, 
.participant.completed a:focus {
	border-bottom: 1px solid #00b6d5;
	color: #00b6d5;
}

/* task menu and buttons */
.task-update-menu-item {
	background-image: url(../images/icons/pencil-16x16.png);	
}

.task-useruncomplete-menu-item,
.task-usercomplete-menu-item:hover,
.task-usercomplete-menu-item:focus {
	background-image: url(../images/icons/check-blue-16x16.png);	
}

.task-usercomplete-menu-item,
.task-useruncomplete-menu-item:hover,
.task-useruncomplete-menu-item:focus {
	background-image: url(../images/icons/check-gray-16x16.png);	
}

.task-unparticipate-menu-item,
.task-participate-menu-item:hover,
.task-participate-menu-item:focus {
	background-image: url(../images/icons/man-blue-16x16.png);	
}

.task-participate-menu-item,
.task-unparticipate-menu-item:hover,
.task-unparticipate-menu-item:focus {
	background-image: url(../images/icons/man-gray-16x16.png);	
}

.task-untrash-menu-item,
.task-trash-menu-item:hover,
.task-trash-menu-item:focus {
	background-image: url(../images/icons/trash-with-arrow-16x16.png);
}

.task-trash-menu-item,
.task-untrash-menu-item:hover,
.task-untrash-menu-item:focus {
	background-image: url(../images/icons/trash-can-16x16.png);
}

/*
	Calendar styles
*/
.event.calendar th,
.event.calendar td {
	overflow: hidden;
	padding: .1em;
	white-space: nowrap;
	width: 13%;
}

.event.calendar .daytitle {
	background-color: #d9d4cc;
	text-align: center;
	white-space: nowrap;
}

.event.calendar .day {
	height: 6em; /* em allows for number of events rather than fixed */
	white-space: nowrap;
}

.event.calendar .day.notThisMonth {
	opacity: .5;
}

.event.calendar .day dt {
}

.event.calendar .day a {
	white-space: nowrap;
}

/*		Default Layout: 992px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

body {
}



/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	
	body {
	}
}



/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
	
	body {
	}
	
	article {
		min-width: 13em;
	}
	
	article menu li a 
	{
		text-indent: -9999px;
	}
	
	#site-index header {
		background-image: url(../images/poncla-splash-320x270.jpg);
		height: 270px;
	}
	
}



/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	body {
	}
	
	#site-index header {
		background-image: url(../images/poncla-splash-480x380.jpg);
		height: 380px;
	}
	
}


/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	
	body {
	}
	
}