@import "reset.scss";
@import "jquery-ui";
/**
 * Max readability = 32 em
 * Max readability @ 16 px = 512 px ~ 9 col  = 520 px 
 * Max readability @ 18 px = 576 px ~ 10 col = 580 px 
**/

/*
	Colors
*/
$black: #000000;

$blue-aqua: #92ccd6; // Used for selections

$gray-dark: #474747;
$gray-light: #bfbfbf;
$gray: #d6d6d6;

$red-dark: #e82c0c; // Used for errors

$white: #ffffff;

/*
	General settings
*/
html {
	overflow-y: scroll;
}

html, body {
	background-color: $gray-dark;
	color: $gray-light;
	font-family: "Century Gothic", AppleGothic, Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: 100%;
	min-height: 100%; /* Ensure vertical scrollbar always shows */
	position: relative;
}

a, a:active, a:visited {
	color: inherit;
	font-weight: bold;
}

a:hover, a:focus {
	color: inherit;
	text-decoration: underline;
}

input, textarea, select {
	border: 1px solid $gray-light;
	border-radius: 3px;
	-khtml-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box; /* Border box ensures that inputs fill containers without border overlap */
	font: inherit; /* Match overall font settings */
	height: 2.5em;
	padding: 8px;
	width: 100%;
}

input.error, textarea.error, select.error {
	border: 1px solid $red-dark;
}

strong {
	font-weight: bold;	
}

em {
	font-style: italic;
}

/* Selection colours */

::-moz-selection,
::selection {
	background: $blue-aqua;
}

img::-moz-selection,
img::selection {
	background: transparent;
}

body {
	-webkit-tap-highlight-color: $blue-aqua;
	tap-highlight-color: $blue-aqua;
}

/* Header stylings */

h1, h2, h3, h4, h5, h6 {
	word-wrap: break-word;
}

h1 {
	font-size: 1.75em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.25em;
}

p {
	font-size: .9em;
	margin: .5em 0; /* Readability spacing */
	max-width: 32em;
	word-wrap: break-word;
}

/*
	Global wrappers
*/
.everything {
	background-color: $gray-light;
	color: $gray-dark;
	height: auto;
	margin: auto auto; /* auto and footer size */
	min-height: 100%;
	padding-top: 75px;
}

.global-header {
	background-color: $gray-dark;
	border-bottom: 1px solid $black;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 999;
}

.global-navigation {
	margin: auto;
	max-width: 32em;
}

.global-footer {
    clear: both;  /* Ensure footer isn't floating around anywhere */
    padding: 32px;
    margin: auto;
    max-width: 32em;
    text-align: center;
}

.global-footer p {
	font-size: 1.1em;
}

nav {
	position: relative;
}

nav ul {
	list-style-type: none;
}

nav li {
	display: inline-block; /* List horizontally, not vertically */
}

nav li a,
nav li a:visited {
	color: $gray-light;
	display: block;	
	font-size: .8em;
	padding: 24px 8px;
	text-transform: lowercase;
}

nav li a:hover,
nav li a:focus,
.active > a,
.active > a:visited {
	color: $white;
	text-decoration: none;
}

nav .secondary {
	float: right;
}

/* Branding and mobile global settings */
.poncla-logo {
	vertical-align: top;
}

.poncla-logo a,
.poncla-logo a:visited,
.poncla-logo a:hover,
.poncla-logo a:focus {
	background-image: url("../images/poncla-cutout-logo-60x60.png");
	background-position: center;
	background-repeat: no-repeat;
	height: 60px;
	padding: 4px;
	text-indent: -10000px;
	width: 60px;
}

/* Drop down navigation */
nav li ul {
	background-clip: padding-box;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-color: $gray-dark;
	border-color: $black;
	border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	-webkit-border-radius: 0 0 6px 6px;
	border-style: solid;
	border-width: 0 1px 1px;
	box-shadow: 0 2px 4px rgba(0,0,0,.2);
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,.2);
	display: none;
	position: absolute;
	top: 100%;
	z-index: 1000; /* So early dropdowns can cover lower nav links */
}

nav li.open ul { 
	display: block;
}

.dropdown li {
	display: block; /* to fill menu dropdown */
}

.dropdown-toggle::after { /* dropdown arrow using border fanciness */
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #cccccc;
	content: "&darr;";
	display: inline-block;
	height: 0;	
	margin-top: 8px;
	margin-left: 4px;
	text-indent: -99999px;
	vertical-align: top;
	width: 0;
}

.dropdown ul a {
	padding: 16px;
}

/* Content styles */

section {
	clear: both;
	width: 100%;
}

section > h1 {
	padding: 16px; /* Extra spacing for readability and show background */
}

section > h2 {
	padding: 8px 16px; /* Extra spacing for readability and show background */
}

.content {
	clear: both;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	max-width: 34em;
}

.content-header {
	padding: 16px; /* Could use margin, but this way, matches stylings */
}

.content-header h1 {
	font-size: 2em;
}

.menu {
	margin-top: 11px;
}

.menu li {
	display: inline-block;
	list-style-type: none;
	margin-bottom: 4px;
	margin-right: 4px;
	white-space: nowrap;
}

.menu a {
	display: block; /* So it fills area and icon is clickable */
	font-size: .8em;
	min-width: 50px; /* Should be at least 44px for touch screens */
	margin-top: 8px;
	padding: 0; /* override nav padding for nav menus */
	text-align: center;
}

.novel-controls {
	float: right;
	margin-right: 16px;
}

/* Content toolbox */
.toolbox {
	margin-top: 0;
}

/*
	Content flashes and errors
*/ 
.flash {
	padding: 16px;
}

.flash span {
	display: block;
}

.flash-error {
	background-color: #e82c0c; /* red */
	color: #ffffff;
}

.flash-notice {
	background-color: #fff6bf; /* yellow */
	color: #514721;
}

.flash-success {
	background-color: #e6efc2; /* green */
	color: #264409;
}

.flash-error a {
	color: #8a1f11;
}

.flash-notice a {
	color: #7f7b5f;
}

.flash-success a {
	color: #264409;
}

/*
	Content lists
*/
.detail-view dt {
	margin-bottom: 16px;
	margin-top: 16px;
}

.detail-view dt,
.list-view dt {
	display: inline-block;
}

.detail-view dt {
	font-size: .8em;
	margin-top: 1em;
	margin-right: 1em;
	text-transform: lowercase;
}

.detail-view dd,
.list-view dd {
	display: inline-block;
	margin-right: 1em;
}

/*
	Content forms
*/
form {
	clear: both;
	max-width: 32em; /* Readability */
	padding: 16px;
}

form .errorSummary {
	background-color: #e82c0c;
	color: #ffffff;
	padding: 16px;
}

form .errorSummary ul {
	margin-left: 1em; /* Life indentation */
}

form .errorMessage {
	background-color: #e82c0c;
	color: #ffffff;
	padding: 8px; /* match input padding */
}

input[type="checkbox"], input[type="button"] {
	width: auto; /* checkboxes don't stretch */
}

input[type="submit"], 
input[type="button"] {
	background-color: #00b6d5;
	border: none;
	border-radius: 2px;
	color: #ffffff;
	cursor: pointer; /* Finger cursor */
	display: inline-block;
	font-weight: bold;
	text-align: left;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	text-transform: lowercase;
	white-space: nowrap; /* Don't break sentence */
	/* Avoid gradient defaults in some browsers */
	-moz-appearance: none; 
	-webkit-appearance: none;
}

input[type="button"].neutral {
	background-color: #d6d6d6; /* gray */
}

input[type="button"].negative {
	background-color: #f56200; /* red */
}

input[type="submit"]:hover,
input[type="submit"]:focus, 
input[type="button"]:hover,
input[type="button"]:focus {
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
	color: #ffffff;
}

input[type="submit"]:active,
input[type="button"]:active {
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5);
}

/* Overrides for disabled buttons */
.disabled,
input[type="submit"]:disabled, 
input[type="submit"][disabled="disabled"],
input[type="button"]:disabled {
	opacity: .25; /* Blarg, cheap, color better */
	cursor: default;
}

.disabled:hover,
input[type="submit"]:disabled:hover,
input[type="submit"][disabled="disabled"],
input[type="button"]:disabled:hover {
	opacity: .25; /* Blarg, cheap, color better */
}

/* More about forms */
.field {
	clear: both;
	margin: 8px 0;
	position: relative;
}

label {
	cursor: text; /* To help user realize it's clickable */
	display: inline-block;
	margin-bottom: 4px;
}
	
label:not(.required) {
	color: #8a8581;	
}

label:not(.required):after {
	content: ' (optional)';
}

textarea  {
	height: 3em;
}

.inline-form {
	position: relative;		
}

.inline-form .buttons {
	position: absolute;
	right: 1em;
	bottom: 1em;
}

.inline-form .formlabel {
	display: none;
}

.clear-field {
	cursor: pointer;
	float: right;
	text-align: right;
	white-space: nowrap;
}

/* Content tables */
table {
	table-layout: fixed;
	width: 100%;
}

tr {
	vertical-align: middle;
}

th, 
td {
	border: 1px solid #333436;
}

th {
	font-size: .5em;
	font-weight: bold;
	padding: 8px 12px; /* 12px to align right text*/
	text-align: center;
}

/* Content pagination */
.pager {
	border: none;
	clear: both;
	line-height: 100%;
}

.pager ul,
.pager li {
	display: inline-block; /* Display horizontally */
	margin-bottom: 8px;
	margin-top: 8px;
}

.pager a:link,
.pager a:visited {
	padding: 2px 8px;
	text-decoration: none;
}

.pager .selected a {
	background-color: #00b6d5;
	color: #ffffff;
}

 .pager .hidden a,
.yiiPager .first,
.yiiPager .last {
	/* Hide first, last, and inactive buttons by default */
	display: none;
}

/* no results span */
.empty { 
	color: #808080;
	display: block;
	font-size: 1.5em;
	padding: 0 16px;
	text-shadow: 0px 2px 3px #404244;
}

.empty a {
	color: #ffffff;
}

/* 
	Site styles
*/


/*
	Main page styles
*/
.greetings h1 {
	font-size: 3em;	
	padding: 16px;
}

.greetings span {
	display: block;
	font-weight: bold;
}

#contact-form {
	margin: auto;
	padding: 16px;	
}

/* Task form inputs */

input[name="Task[startDate]"],
input[name="Task[endDate]"] {
	margin-right: 2%; /* spacing between date and time */
	width: 48%; /* 48 + 2 = 50 */
}

select[name="Task[startTime]"],
select[name="Task[endTime]"]  {
	width: 50%;
}

/* Yii widgets */

.list-view .summary {
	display: none;
}

.no-results-message {
	margin-left: auto;
	margin-right: auto;
}

/*
	Blurbs are system messages for user's aid
*/
.blurb {
	color: #808080;
	font-size: 1.5em;
	padding: 0 16px;
}

.blurb a {
	color: #ffffff;
}

/* Novel stylings */
.novel {
	vertical-align: top;
}

/* Story stylings */
.story {
	background-color: #ffffff;
	border-bottom: 1px solid #D6D6D6;
	-moz-box-shadow: 0 16px 16px -16px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 16px 16px -16px rgba(0, 0, 0, 0.25);
	box-shadow: 0 16px 16px -16px rgba(0, 0, 0, 0.25);
	color: #333436;
	padding: 16px; /* Increase right margin to account for menu */
	position: relative; /* Set position so menu can be absolute */

	h1 {
		font-size: 1.1em;
	}

	h2 {
		font-size: .8em;
	}
}

.story-avatar {
	font-size: 1.1em;
}

.story-info {
	font-size: .8em;
}

/* Completed story stylings */ 
.completed {
	background-color: #74996e;
	border-color: #7d907a; /* override _view borders */
	color: #ffffff;
}

/* Trashed story stylings */

.trash h1 a {
	text-decoration: line-through;
}

/* Task view styles */

.created {
	color: #d6d6d6;
}

/* Participating user listing  */

.users {
	clear: both;	

	li {
		display: inline-block;
		margin-right: 1em;
	}
}

/* Task Calendar */
.calendar {
	background-color: #ffffff;
	color: #333436;

	td, th {
		width: 5%; /* Ensures minimum */
		border: none;
		text-align: right;
	}

	a {
		border-radius: 3px;
		display: block; /* fill tabel cell */
		padding: 8px;
		margin: .25em;
		text-decoration: none;
	}

	.has-tasks a,
	.has-tasks a:visited {
		background-color: #808080;
		color: #ffffff;
	}

	a:hover,
	a:active,
	a:focus {
		background-color: #00b6d5;
		color: #ffffff;
		text-decoration: none;
	}

	/* Redundant a:active and a:focus to ensure keyboard focus works too */
	a:active,
	a:focus {
		background-color: #00adcc;
	}
}

.calendar-nav {
	float: right;
}

/* Feed */
.feed-model-attribute {
	text-transform: lowercase;
}

/* JQuery overrides */
.ui-datepicker {
	max-width: 100%;
}

/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
}


/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) {

	.toolbox {
		float: right;
	}
}


/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) {

	.greetings h1 {
		font-size: 4em;
	}

	nav li ul {
		left: auto;
		max-width: 12em;
		right: auto;	
	}
}

/*
	Desktop layout
*/
@media only screen and (min-width: 991px) {
}