@import "compass/utilities/general/clearfix";

#calendar-container {
	max-width: 100%;
}

.calendar {

	.week {
		@include clearfix;

		.day {
			padding: $base-padding;
			
			@include respond-to('thin-tablet') {
				@include float-left;
				min-height: 6 * $base-padding;
				width: 1 / 7 * 100%;
			}

			header {
				@extend h2;
				@include ellipsis;

				border-bottom: 1px solid $alto;
				border-top: 4px solid $alto;
				word-spacing: -.1em;

				.weekday-name {
					font-size: .5em;
					text-transform: uppercase;
				}
			}

			.task {
				margin: $base-margin 0;
				h1 {
					@extend h3;
				}

				time {
					font-size: .75em;
					white-space: nowrap;
				}
			}
		}
	}

}