// file variables
$base-image-path: "/images";

// box variables
$base-border-radius: 3px;
$base-margin: 16px;
$base-max-readability-width: 32em * 1.5;
$base-padding: 16px;
$base-max-page-width: 640px;

// Text
// $base-font-family: "Century Gothic", AppleGothic, Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
$base-font-size: 13px;

// imgs 
$base-avatar-size: 32px;

// page variables
$application-header-fixed-height: $base-padding * 3;
$application-navigation-fixed-height: $base-padding * 4.5;
$application-navigation-fixed-width: $base-padding * 8;	

/** 
 * Mapping colors
 **/
 //TODO:;

// compass imports
@import "reset";
@import "compass";
@import "compass/css3";
@import "compass/typography";

// images
// @import "glyphicons/*.png";
// @include all-glyphicons-sprites;

// mixins & functions
@import "mixins/all";
@import "functions/all";