// box variables
$base-border-radius: 3px;
$base-margin: 16px;
$base-max-readability-width: 32em * 1.5;
$base-padding: 16px;
$base-max-page-width: 640px;

// Text
// $base-font-family: "Century Gothic", AppleGothic, Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
$base-font-size: 13px;

// page variables
$application-header-fixed-height: $base-padding * 3;
$application-navigation-fixed-height: $base-padding * 4.5;

/**
 * color definitions
 * @see http://chir.ag/projects/name-that-color if stumped for names
 **/ 
$allports:	#0076a3;
$black:		#000000;
$blue:      #268bd2;
$cerulean: 	#00b6d5;
$cyan:      #2aa198;
$green:     #859900;
$magenta:   #d33682;
$orange:    #cb4b16;
$red:       #dc322f;
$scooter: 	#42C6DC;
$violet:    #6c71c4;
$white: 	#ffffff;
$yellow:    #b58900;

// colors
$egg-white: #fff6bf;
$metallic-bronze: #514721;
$malachite: #00f34a;

// grays

$faint-white:		rgba(255, 255, 255, .1);
$faded-white:		rgba(255, 255, 255, .25);
$alto: 				#dddddd;
$boulder: 			#777777;
$cod-gray: 			#111111;
$dark-gray: 		#a9a9a9;
$dark-slate-gray: 	#2f4f4f;
$dim-gray: 			#696969;
$dove-gray: 		#666666;
$dusty-gray: 		#999999;
$emperor: 			#555555;
$gainsboro: 		#dcdcdc;
$gallery: 			#eeeeee;
$gray: 				#808080;
$light-gray: 		#d3d3d3;
$light-slate-gray:	#778899;
$mine-shaft: 		#333333;
$mine-shaft-light:	#2d2d2d;
$shark:				#292d33;
$silver-chalice: 	#aaaaaa;
$silver: 			#bbbbbb;
$silverish: 		#cccccc;
$slate-gray: 		#708090;
$tundora: 			#444444;

/** 
 * Mapping colors
 **/
 //TODO:;

// compass imports
@import "reset";
@import "compass";
@import "compass/css3";
@import "compass/typography";

// images
// @import "glyphicons/*.png";
// @include all-glyphicons-sprites;

// mixins & functions
@import "mixins/all";
@import "functions/all";

* {
	@include box-sizing(border-box);
}

::-moz-selection,
::selection {
  background: $orange;
  color: $white;
}

img::-moz-selection,
img::selection {
  background: transparent;
}