/** 
 * Styles for forms
 **/

form {
 	@include grid-row;
}

.field {
	@include grid-row;
	position: relative;
}

.field.buttons > * { // multple submit buttons can use some spacing
	display: inline-block;
	margin-bottom: $base-margin;
	width: auto;
}

fieldset {
	margin-bottom: $base-margin;
}

input, textarea, select, .button {
	border: 1px solid $gainsboro;
	@include border-radius($base-border-radius);
	@include box-sizing(border-box); /* Border box ensures that inputs fill containers without border overlap */
	font: inherit; /* Match overall font settings */
	height: $base-font-size * 3;
	padding: $base-padding;
	width: 100%;
}

textarea  {
	height: 4em;
}

input[type="submit"], 
input[type="button"],
.button {
	@include appearance(none); // Avoid gradient defaults in some browsers 
	background-color: $cerulean;
	border: none;
	@include border-radius($base-border-radius);
	color: $white;
	cursor: pointer; // Finger cursor 
	display: inline-block;
	font-weight: bold;
	text-align: left;
	@include text-shadow(0 1px rgba(0, 0, 0, 0.1));
	text-transform: lowercase;
	white-space: nowrap; // Don't break sentence
}

.button {
	cursor: pointer;
	text-align: center;
	white-space: nowrap;
}

input[type="submit"].neutral,
input[type="button"].neutral,
.button.neutral {
	background-color: #d6d6d6; /* gray */
}

input[type="button"].negative,
.button.negative {
	background-color: #f56200; /* red */
}

input[type="submit"]:hover,
input[type="submit"]:focus, 
input[type="button"]:hover,
input[type="button"]:focus,
.button:hover,
.button:focus {
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
	color: #ffffff;
	text-decoration: none;
}

input[type="submit"]:active,
input[type="button"]:active,
.button:active {
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5);
	text-decoration: none;
}

/* Overrides for disabled buttons */
.disabled,
input[type="submit"]:disabled, 
input[type="submit"][disabled="disabled"],
input[type="button"]:disabled,
.button:disabled {
	opacity: .25; /* Blarg, cheap, color better */
	cursor: default;
	text-decoration: none;
}

.disabled:hover,
input[type="submit"]:disabled:hover,
input[type="submit"][disabled="disabled"],
input[type="button"]:disabled:hover,
 .button:disabled:hover {
	opacity: .25; /* Blarg, cheap, color better */
}

// Datetime pickers
.datetime {
	input, select {
		@include grid-column-2-of-5;
	}

	.clear-field {
		@include grid-column-1-of-5;	
	}

	.datepicker-container {
		@include grid-column-1-of-1;
		padding: 0;
	}
}

.clear-field {
	@extend .button;

	i {
		@extend .icon;
		@extend .icon-remove;
	}

	span {
		display: none;
	}
}

label {
	cursor: text; /* To help user realize it's clickable */
	display: none;
}
	
label:not(.required) {
	@include opacity(.8);
}

label:not(.required):after {
	content: ' (optional)';
}

input.error, textarea.error, select.error {
	border: 1px solid $red;
}

.errorMessage,
.errorSummary {
	background-color: $red;
	color: $white;
	padding: $base-padding;
}