/** 
 * Styles for forms
 **/

$input-font-size: 13px;
$button-font-size: 16px;

form {
 	@include grid-row;
}

.field {
	@include grid-row;
	position: relative;
}

.buttons {
	margin-top: $base-margin;
	text-align: right;
}

.field.buttons > * { // multple submit buttons can use some spacing
	display: inline-block;
	margin-bottom: $base-margin;
	width: auto;
}

fieldset {
	margin-bottom: $base-margin;
}

input, textarea, select, button, .button {
	border: 1px solid $gainsboro;
	@include border-radius(0);
	@include box-sizing(border-box); /* Border box ensures that inputs fill containers without border overlap */
	font: inherit; /* Match overall font settings */
	font-size: $input-font-size;
	height: ($base-padding * 2) + 16px; // needs to match nav sizing
	padding: $base-padding;
	width: 100%;
}

select {
	// @include appearance(none); // Fixes android browser height problems?
}

textarea  {
	height: 6em;
}

input[type="submit"], 
input[type="button"],
button,
.button {
	@include appearance(none); // Avoid gradient defaults in some browsers 
	background-color: $cerulean;
	border: none;
	@include border-radius($base-border-radius);
	color: $white;
	cursor: pointer; // Finger cursor 
	display: inline-block;
	font-size: $button-font-size;
	font-weight: bold;
	text-align: left;
	@include text-shadow(0 1px rgba(0, 0, 0, 0.1));
	text-transform: lowercase;
	white-space: nowrap; // Don't break sentence
}

button,
.button {
	cursor: pointer;
	text-align: center;
	white-space: nowrap;
}

input[type="submit"].neutral,
input[type="button"].neutral,
button.neutral,
.button.neutral {
	background-color: #d6d6d6; /* gray */
}

input[type="button"].negative,
button.negative,
.button.negative {
	background-color: #f56200; /* red */
}

input[type="submit"]:hover,
input[type="submit"]:focus, 
input[type="button"]:hover,
input[type="button"]:focus,
button:hover,
button:focus,
.button:hover,
.button:focus {
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
	color: #ffffff;
	text-decoration: none;
}

input[type="submit"]:active,
input[type="button"]:active,
button:active,
.button:active {
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5);
	text-decoration: none;
}

/* Overrides for disabled buttons */
.disabled,
input[type="submit"]:disabled, 
input[type="submit"][disabled="disabled"],
input[type="button"]:disabled,
button:disabled,
.button:disabled {
	opacity: .25; /* Blarg, cheap, color better */
	cursor: default;
	text-decoration: none;
}

.disabled:hover,
input[type="submit"]:disabled:hover,
input[type="submit"][disabled="disabled"],
input[type="button"]:disabled:hover,
button:disabled:hover,
 .button:disabled:hover {
	opacity: .25; /* Blarg, cheap, color better */
}

// Datetime pickers
.datetime {
	input, select {
		@include grid-column-2-of-5;
	}

	.clear-field {
		@include grid-column-1-of-5;	
	}

	.datepicker-container {
		@include grid-column-1-of-1;
		padding: 0;
	}
}

.clear-field {
	@extend button;

	i {
		@extend .icon;
		@extend .icon-remove;
	}

	span {
		display: none;
	}
}

label {
	@include opacity(.8); // to blend it to the background
	cursor: text; /* To help user realize it's clickable */
	display: none;
	font-size: $base-font-size;
	margin-top: $base-margin / 4;
	margin-bottom: $base-margin / 4;
}
	
label:not(.required) {
}

label:not(.required):after {
	content: ' (optional)';
}

input.error, textarea.error, select.error {
	border: 1px solid $red;
}

.errorMessage,
.errorSummary {
	background-color: $red;
	color: $white;
	padding: $base-padding;
}