.grid {
	background: white;
	margin: 0 0 $base-padding 0;

	&:after {
		@extend clearfix;
	}
}

.column {
	float: left;
	padding-right: $base-padding;
	.grid &:last-of-type {
		padding-right: 0;
	}
}

.column-2-3 {
	@extend .column;
	width: 66.66%;
}

.column-1-3 {
	@extend .column;
	width: 33.33%;
}

.column-1-2 {
	@extend .column;
	width: 50%;
}

.column-1-4 {
	@extend .column;
	width: 25%;
}

.column-1-8 {
	@extend .column;
	width: 12.5%;
}

/* Opt-in outside padding */
.grid-pad {
	padding: $pad 0 $pad $pad;
	[class*='column-']:last-of-type {
		padding-right: $pad;
	}
}