html {
	overflow-y: scroll;
}

html, body {
	background: $gallery;
	height: 100%;
	min-height: 100%; /* Ensure vertical scrollbar always shows */
	position: relative;
}

body {
	padding-top: $application-header-fixed-height;

	@include respond-to('thin-tablet') {
		padding-top: $application-header-fixed-height + $application-navigation-fixed-height;
	}
}

aside {
	@include grid-row-with-padding;
}

section {
	// @include grid-row-with-padding;

	h1 {
		@extend .heading2;
	}
}

article {
	// @include grid-column-1-of-1;
	
	h1 {
		@extend .heading3;
	}
}