
/** Variables **/
// $base-font-family: "Century Gothic", AppleGothic, Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
$base-font-size: 16px;
$golden-ratio: 1.61803398875;

html {
  color: $mine-shaft;
  font-family: $base-font-family;
  font-size: 100%;
}

strong {
  font-weight: bold;  
}

em {
  font-style: italic;
}

/* Header stylings */
h1, h2, h3, 
h4, h5, h6 {
  font-family: inherit;
  line-height: 1.1;
  color: inherit;
  text-rendering: optimizelegibility;
  word-wrap: break-word;
}

.heading1 {
  font-size: 36px;
  line-height: 40px;
}
  
.heading2 {
  font-size: 30px;
  line-height: 40px;
}

.heading3 {
  font-size: 24px;
  line-height: 40px;
}

.heading4 {
  font-size: 18px;
  line-height: 20px;
}

.heading5 {
  font-size: $base-font-size;
  line-height: 20px;
}

.heading6 {
  font-size: 14px;
  line-height: 20px;
}

/** 
 * Text styles
 **/
p {
  font-size: $base-font-size;
  max-width: 32em;
  word-wrap: break-word;
  margin-bottom: 1.5em;
}

/**
 * Link styles
 */
a, a:active, a:visited {
  color: $cerulean;
  // font-weight: bold;
  text-decoration: none;
}

a:hover, a:focus {
  color: $cerulean;
  text-decoration: underline;
}