
/** Variables **/
$golden-ratio: 1.61803398875;

html {
  color: $mine-shaft;
  font-family: $base-font-family;
  font-size: 100%;
}

strong {
  font-weight: bold;  
}

em {
  font-style: italic;
}

/* Header stylings */
h1, h2, h3, 
h4, h5, h6 {
  color: inherit;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: $base-margin;
  text-rendering: optimizelegibility;
  word-wrap: break-word;
}

.heading1 {
  font-size: $base-font-size * 1.8;
}

.heading2 {
  font-size: $base-font-size * 1.5;
}

.heading3 {
  font-size: $base-font-size * 1.3;
}

.heading4 {
  font-size: $base-font-size * 1.2;
}

.heading5 {
  font-size: $base-font-size * 1;
}

.heading6 {
  font-size: $base-font-size;
}

/** 
 * Text styles
 **/
 p {
  font-size: $base-font-size;
  max-width: $base-max-readability-width;
  word-wrap: break-word;
  margin-bottom: 1.5em;
}

/**
 * Link styles
 */
 a, a:active, a:visited {
  color: $cerulean;
  // font-weight: bold;
  text-decoration: none;
}

a:hover, a:focus {
  color: $cerulean;
  text-decoration: underline;
}