@import "compass/css3/animation";

.page-site-index {
	background: $cerulean;
	color: $white;
	overflow: hidden;

	.inner {
		margin: auto;
		max-width: 1024px;
	}

	.greetings {
		@include grid-row;
		padding: $base-padding;

		@include respond-to(thin-tablet) {
			min-height: 600px;
		}

		h1 {
			@include animation(fade-down 1s);
			font-size: 36px;

			.big-e {
				font-size: 104px;
				text-transform: lowercase;
			}
		}

		a.login {
			@extend .button;
			@include animation(fade-in 3s);

			background: $facebook-blue;
			padding: $base-padding;

			@include respond-to(wide-phone) {
				max-width: 240px;
				margin-top: $base-margin * 3;
			}

			i {
				@extend .icon;
				@extend .icon-chevron-right;
			}
		}

		.subtext {
			display: block;
			font-size: 10px;
			opacity: .75;
			padding: $base-padding / 2;
		}
		
		p {
			font-size: 24px;
			font-weight: 100;
			max-width: 450px;
		}

	}

	.features {
		@include grid-row;
		background: $white;
		color: $mine-shaft;
		padding: $base-padding;

		.inner {
			div {
				@include grid-column-1-of-1;
				padding: $base-padding;

				@include respond-to(wide-phone) {
					@include grid-column-1-of-2;
				}

				@include respond-to(wide-tablet) {
					@include grid-column-1-of-4;
				}
			}
		}

		h2 {
			font-size: 24px;
			font-weight: bold;
			text-align: center;
		}

		p {
			text-align: center;
		}

		i {
			@extend .icon-super-hero;
			display: block;
			text-align: center;
		}

		.describe-responsive i {
			@extend .icon-tablet;
		}

		.describe-dashboard i {
			@extend .icon-dashboard;
		}

		.describe-calendar i {
			@extend .icon-calendar;
		}

		.describe-facebook i {
			@extend .icon-facebook-sign;
		}
	}
}