@import "compass/css3/animation";

.page-site-index {
	height: 100%;
	background: $cerulean;
	color: $white;
	overflow: hidden;

	.greetings {
		position: absolute;
		left: 10%;
		top: 30%;

		h1 {
			@include animation(fade-down 1s);
			font-size: 36px;
		}

		a {
			@include animation(fade-down 2s);
			color: $white;
		}
	}
}