body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #FFFFFF;
}

#page
{
	margin-top: 0px;
	margin-bottom: 5px;
	background: white;
	border: 0px solid #FFFFFF;
	background: url(topBG.jpg) repeat-x;
}

#topBG
{
	background: url(topBG.jpg) repeat-x;
	height: 100%;
}

#topBorder
{
	margin-top: 30px;
	float: left;
	width: 963px;
	height: 59px;
	background: url(topBorder.jpg) no-repeat;
}

#picture
{
	background: #000;
	width: 100px;
	height: 80px;
}

.rsvp
{
	padding-top: 10px;
	margin-left: 15px;
}

.form2
{
	margin-top: -5px;
	float: right;
	margin-right: 3px;
}

#eventInfo
{
	width: 810px;
	height: 45px;
	background: #dfdfdf;
	margin-left: 100px;
	margin-top: -80px;
}

#status
{
	width: 810px;
	height: 35px;
	background: #cacaca;
	margin-left: 100px;
}


.eventText
{
	padding-left: 15px;
	padding-top: 15px;
}


#contentBorder
{
	margin-top: 60px;
	width: 963px;
	min-height: 600px;
	background: url(contentBorder.jpg) repeat-y;
}

.contentInfo
{
	margin-top: -50px;
	min-height: 600px;
}
#header
{
	margin: 0;
	padding: 0;
	border-top: 0px solid #C9E0ED;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 0px solid #C9E0ED;
}

#logo
{
	margin-left: -20px;
	padding: 15px 20px;
	font-size: 200%;
	color: #FFFFFF;
}

#mainmenu
{
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 0px;
	margin-left: -18px;
	padding-right: 55px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #51e3fd;
	background-color:#3a3a3a;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	padding-bottom: 5px;
	margin: 10px 0;
	border: 0px solid #C9E0ED;
	width: 900px;
	margin-left: -10px;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.list-view summary
{
	float: right;
}

.respond
{
	margin-top: -16px;
	margin-left: 180px;
}
.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}