/*
	General settings
*/
body
{
	color: #555555;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 10pt; 
	font-style: normal;
	height: 100%;
}

a, a:hover, a:visited, a:active
{
	color: #555555;
	text-decoration: none;
}

td, input, textarea { 
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif; 
}

strong 
{
	font-weight: bold;	
}

em {
	font-style: italic;
}
/*
	Generic content settings
*/

/* 
	Main layout styles
*/
#mainmenu
{
	background-color: #292929;
	padding: 10px;
}

#mainmenu ul
{
}

#mainmenu ul li
{
	display: inline;
	margin-right: 55px;
}

#mainmenu ul li a, #mainmenu ul li a:visited 
{
	color: #eee;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
}

#mainmenu ul li a:hover
{
	color: #51e3fd;
	text-decoration:none;
}

#sidebar
{
	background-color: #3a3a3a;
	padding: 10px;
}

#sidebar ul li
{
	list-style-type: none;
	display: inline;
	margin-right: 35px;
}

#sidebar ul li a, #sidebar ul li a:visited
{
	color: #dddddd;
	font-size: 14px;
	text-decoration: none;
}

#sidebar ul li a:hover
{
	font-size: 14px;
	text-decoration: underline;
}

#footer
{
	font-size: 0.8em;
	text-align: center;
}


/*
	Content styles
*/
div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

#content
{
	padding: 10px;
	font: normal 18pt Arial,Helvetica,sans-serif;
}

#content h1 
{
	font-size: 70px;
	font-weight: bold;
	margin-bottom: 15px;
	margin-top: 15px;
}

#content h2
{
	font-size: 50px;
	font-weight: bold;
	margin-bottom: 15px;
	margin-top: 15px;
}

#content h3 
{
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 15px;
	margin-top: 15px;
}

#content .summary
{
	font-size: 14px;
	margin-bottom: 10px;
}

/* 
	Site styles
*/

/*
	Site: login styles
*/
div .form .rememberMe label
{
	display: inline;
}

/*
	Event styles
*/
.event
{
	background-color: #fff;
	font-size: 18px;
	margin-bottom: 10px;
	padding: 10px;
}

.event p
{
	margin-bottom: 10px;
	color: #666666;
}

.event .eventname
{
	font-weight: bold;
}

.rsvp
{
	font-size: 14px;
	padding: 10px;
}

.rsvp form
{
	float: right;
	margin-top: -2px;
}

#status
{
	background-color: #eeeeee;
	height: 35px;
}

/*
	Group styles
*/