// box variables
$base-border-radius: 3px;
$base-margin: 16px;
$base-max-readability-width: 32em;
$base-padding: 16px;

// page variables
$top-of-page-nav-bar-height: $base-padding * 3;

/**
 * color definitions
 * @see http://chir.ag/projects/name-that-color if stumped for names
 **/ 
$allports:	#0076a3;
$black:		#000000;
$blue:      #268bd2;
$cerulean: 	#00b6d5;
$cyan:      #2aa198;
$green:     #859900;
$magenta:   #d33682;
$orange:    #cb4b16;
$red:       #dc322f;
$violet:    #6c71c4;
$white: 	#ffffff;
$yellow:    #b58900;

// grays

$alto: 				#dddddd;
$boulder: 			#777777;
$cod-gray: 			#111111;
$dark-gray: 		#a9a9a9;
$dark-slate-gray: 	#2f4f4f;
$dim-gray: 			#696969;
$dove-gray: 		#666666;
$dusty-gray: 		#999999;
$emperor: 			#555555;
$gainsboro: 		#dcdcdc;
$gallery: 			#eeeeee;
$gray: 				#808080;
$light-gray: 		#d3d3d3;
$light-slate-gray:	#778899;
$mine-shaft: 		#333333;
$silver-chalice: 	#aaaaaa;
$silver: 			#c0c0c0;
$silver: 			#bbbbbb;
$slate-gray: 		#708090;
$tundora: 			#444444;

/** 
 * Mapping colors
 **/
 //TODO:;

// compass imports
@import "reset";
@import "compass";
@import "compass/css3";
@import "compass/typography";

@import "mixins/all";
@import "functions/all";
@import "components/all";

* {
	@include box-sizing(border-box);
}

::-moz-selection,
::selection {
  background: $orange;
  color: $white;
}

img::-moz-selection,
img::selection {
  background: transparent;
}