html {
	overflow-y: scroll;
}

html, body {
	height: 100%;
	min-height: 100%; /* Ensure vertical scrollbar always shows */
	position: relative;
}

body {
	padding-top: $base-padding * 3;
}

.application-header {
	position: fixed;
	padding: $base-padding;
}

.application-navigation {
	@extend .nav-bar;
}

.application-footer {
	@extend .content-block;
}

.content-header {
	@extend .content-block;
}

aside {
	@extend .content-block;
}

section {
	@extend .content-block;
}

article {
	@extend .content-block;
	padding: $base-padding 0;
}