/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "base";
@import "layout";
@import "typography";
@import "forms";
@import "jquery-ui";

// various imports
@import "components/dropdown";


.menu {

	li {
		@include inline-block('middle');
		list-style-type: none;
		white-space: nowrap;
		margin-right: $base-margin;
	}
	
	a {
		display: block; /* So it fills area and icon is clickable */
		// min-width: 50px; /* Should be at least 44px for touch screens */
		padding: $base-padding 0; /* override nav padding for nav menus */
		text-align: center;
	}
}