.agenda {

	.day {
		@include grid-row;
		margin-bottom: $base-margin;
	}

	.agenda-date {
		@include single-text-shadow($white, 0px, 1px, 2px);
	}

	.activity {
		@include grid-column-1-of-1;
		@include border-radius($base-border-radius);

		border: 1px solid $alto;
		background: $alto;
		padding-bottom: 0;
		margin-bottom: $base-margin;
		overflow: hidden; // to ensure border radius maintained

		.activity-name {
			@extend .heading4;
			// @include ellipsis();

			color: $mine-shaft;
			margin: 0;
			padding: $base-padding;

			// i {
			// 	@extend .icon;
			// 	@extend .icon-chevron-right;
			// 	float: right;
			// }

			a {
				color: $mine-shaft;
			}
		}

		ol {
			li {
				&:first-child {
					// border-top: 3px solid $gallery;
				}

				&:last-child {
					// border-bottom: none;
				}
			}
		}

		.task {
			
		}
	}
}