.agenda {

	.day {
		@include grid-row;
		margin-bottom: $base-margin;
	}

	.agenda-date {
		margin-bottom: $base-margin;
	}

	.activity {
		@include grid-column-1-of-1;
		@include border-radius($base-border-radius);

		border: 1px solid $alto;
		background: $alto;
		padding-bottom: 0;
		margin-bottom: $base-margin;

		.activity-name {
			@extend .heading4;
			// @include ellipsis();

			color: $mine-shaft;
			padding: $base-padding;

			// i {
			// 	@extend .icon;
			// 	@extend .icon-chevron-down;
			// 	float: right;
			// }

			a {
				color: $mine-shaft;
			}
		}

		ol {
			li {
				&:first-child {
					// border-top: 3px solid $gallery;
				}

				&:last-child {
					// border-bottom: none;
				}
			}
		}

		.task {
			
		}
	}

	.task {
		@include grid-row-with-padding;
		background: $white;
		margin-bottom: 1px; // mimic a border

		h1 {
			@extend .heading5;
			margin-bottom: $base-margin;
		}

		time {
			font-size: .75em;
			white-space: nowrap;
		}

		.status {
			@extend .metadata;
			display: block;
		}
	}
}