.task {
	@include grid-row-with-padding;
	background: $white;
	margin-bottom: 1px; // mimic a border

	h1 {
		@extend .heading1;
		margin-bottom: 0;
	}

	time {
		display: block; // to make its own line
		font-size: $base-font-size;
		font-weight: bold;
		white-space: nowrap;
	}

	.participants {
		li {
			@include inline-block; // provides innate spacing between items

			img {
				height: $base-avatar-size; // match(ish) heading text height
				width: $base-avatar-size;
			}
		}
	}

	.details {
		@include grid-row;

		li {
			@extend .metadata;
			@include ellipsis;
			@include inline-block; // provides innate spacing between items

			border-right: 1px solid $silver-chalice; // divider line
			line-height: 1.25;
			padding-right: .5em; // match the inline block innate 'padding'
			margin-bottom: $base-margin;

			&:last-child {
				border: none; // no divider line
			}
		}
	}
}