.page-task-view {

	.menu {
		margin-bottom: 0; // override the default to reduce spacing
	}

	.task-activity-menu-item {
		i {
			@extend .icon;
			@extend .icon-arrow-up;
		}
	}

	.task-header-time {
		i {
			@extend .icon;
			@extend .icon-time;
		}
	}

	.task-response-status {
		@extend .metadata;

		span {
			font-style: italic;
			text-transform: lowercase;
		}
	}

	.details {
		@include grid-row;

		div {
			@include grid-column-1-of-1;

			@include respond-to(thin-tablet) {
				@include grid-column-1-of-4;
				padding-left: $base-padding / 2;
				padding-right: $base-padding / 2;
			}
		}

		h1 {
			border-bottom: 1px solid $silver-chalice;
			color: $silver-chalice;
			font-variant: small-caps;
			text-transform: lowercase;
		}

		span {
			font-size: $base-font-size * 2;
		}
	}
}