.response {
	@include grid-row-with-padding;
	background: $white;
	margin-bottom: 1px;

	h1 {
		margin: 0;
	}

	.status {
		@extend .metadata;
	}

	.response-avatar {
		@extend .avatar;
	}

	.response-body {
		margin-left: $avatar-body-margin-left;
	}

	p {
		margin-top: 1.5em;
	}
}