@mixin dropdown {

	ul {
		@include background-clip(padding-box);
		// background-color: $gray-dark;
		// border-color: $black;
		@include border-radius(0 0 $base-border-radius $base-border-radius);
		@include box-shadow(0 2px 4px rgba(0,0,0,.2));
		display: none;
		position: absolute;
		top: 100%;
		z-index: 1000; /* So early dropdowns can cover lower nav links */

	@include respond-to(thin-tablet) {
			left: auto;
			max-width: 12em;
			right: auto;
		}
	}

	&.open ul { 
		display: block;
	}

	li {
		display: block; /* to fill menu dropdown */
	}

	.dropdown-toggle::after { /* dropdown arrow using border fanciness */
		border-left: 4px solid transparent;
		border-right: 4px solid transparent;
		border-top: 4px solid #cccccc;
		content: "&darr;";
		display: inline-block;
		height: 0;	
		margin-top: 8px;
		margin-left: 4px;
		text-indent: -99999px;
		vertical-align: top;
		width: 0;
	}
}

.dropdown {
	@include dropdown;
}